<style>
.highlight {
	background-color:#39D000;
	color:#ffffff;
}
.lit {
	background-color:#369f00;
	color:#ffffff;
}
.info-table th {
	border-bottom: 1px solid #dddddd;
	border-left: 0px solid #ffffff;
	border-right: 0px solid #ffffff;
	border-top: 0px solid #ffffff;
}
.info-table {
	border-radius: 0;
}
.info-table td {
	border: 0px solid #ffffff;
        border-radius: 0;
}
#info-data.unbordered, #info-data.unbordered tr, #info-data.unbordered td{
	-webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
}
</style>
<div class="modal hide fade" id="addJob" tabindex="-1" role="dialog" aria-labelledby="addJobLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="addJobLabel">Add Job</h3>
  </div>
  <div class="modal-body">
  <form class="form-horizontal" action="/jobs/create" method="post">
    <div class="control-group">
		  <label class="control-label" for="name">Name:</label>
		  <div class="controls">
		    <input type="text" id="name" name="name">
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="objective">Objective:</label>
		  <div class="controls">
		    <textarea id="objective" name="objective" rows="3" style="resize:none;"></textarea>
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="clients">Clients:</label>
		  <div class="controls">
		    <select multiple="multiple" size="4" id="clients" name="clients[]">
		    	<%@clients.each do |client|%>
		    		<option><%=client.last_name%> , <%=client.first_name%></option>
		    	<%end%>
		    </select>
		  </div>
		</div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <input type="submit" class="btn btn-primary" value="Add">
  </div>
  </form>
</div>
<%@jobs.each do |job|%>
<div class="modal hide fade" id="editJob<%=job.id%>" tabindex="-1" role="diastory" aria-labelledby="editJob<%=job.id%>Label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="editJob<%=job.id%>Label">Edit Job</h3>
  </div>
  <div class="modal-body">
  <form class="form-horizontal" action="/jobs/update/<%=job.id%>" method="post">
    <div class="control-group">
		  <label class="control-label" for="name">Name:</label>
		  <div class="controls">
		    <input type="text" id="name" name="name" value="<%=job.name%>">
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="objective">Objective:</label>
		  <div class="controls">
		    <textarea id="objective" name="objective" rows="3" style="resize:none;"><%=job.objective%></textarea>
		  </div>
		</div>
		<div class="control-group">
		  <label class="control-label" for="clients">Clients:</label>
		  <div class="controls">
		    <select multiple="multiple" size="4" id="clients" name="clients[]">
		    	<%@clients.each do |client|%>
		    		<%if job.clients.detect {|jobclient| jobclient.first_name == client.first_name and jobclient.last_name == client.last_name}%>
		    			<option selected="selected"><%=client.last_name%> , <%=client.first_name%></option>
		    		<%else%>
		    			<option><%=client.last_name%> , <%=client.first_name%></option>
		    		<%end%>
		    	<%end%>
		    </select>
		  </div>
		</div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <input type="submit" class="btn btn-primary" value="Save">
  </div>
  </form>
</div>
<div class="modal hide fade" id="deleteJob<%=job.id%>" tabindex="-1" role="diastory" aria-labelledby="deleteJob<%=job.id%>Label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="deletejob<%=job.id%>Label">Delete Job <%=job.name%></h3>
  </div>
  <div class="modal-body">
  	<p>Are you sure you want to delete "<%=job.name%>."</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
    <a class="btn" href="/jobs/destroy/<%=job.id%>" aria-hidden="true">Yes</a>
  </div>
  </form>
</div>
<%end%>
<div class="row-fluid">
	<div class="span6">
		<table class="table table-bordered" style="width:95%;margin-top:30px;margin-left:30px;">
			<tr>
				<th rowspan="0">Jobs</th>
			</tr>
			<tr>
				<td>
					<table id="info-header"class="info-table" width="100%">
						<tr>
							<th>Name</th>
							<th>Clients</th>
							<th>Objective</th>
						</tr>
					</table>
					<div style="overflow:auto;height:438px;">
						<table id="info-data" class="info-table unbordered" width="100%" style="height:100%">
							<%@jobs.each do |job|%>
							<tr style="height:40px;" class="hover" id="job-<%=job.id%>" onclick="show(<%=job.id%>);">
								<td nowrap="nowrap"><%=job.name%></td>
								<td nowrap="nowrap">
									<%job.clients.each do |client|%>
										<%=client.last_name%> , <%=client.first_name%><br />
									<%end%>
								</td>
								<td nowrap="nowrap"><%=job.objective%></td>
								<td nowrap="nowrap">
									<a href="#deleteJob<%=job.id%>" role="button" data-toggle="modal" class="close pull-right">&times;</a>
									<a href="#editJob<%=job.id%>" role="button"  data-toggle="modal"><i class="icon-pencil pull-right" style="margin-right:3px;"></i></a>
								</td>
							</tr>
							<%end%>
							<tr style="height:100%;"><td></td></tr>
						</table>
					</div>
					<table id="info-footer" class="info-table" width="100%">
						<tr>
							<td><a href="#addJob" role="button" class="btn btn-small pull-right" data-toggle="modal">Add Job</a></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<div class="span6">
		<table class="table table-bordered pull-right" style="width:95%;margin-top:30px;margin-right:30px;height:572px;">
			<tr>
				<th rowspan="0">Invoice</th>
			</tr>
			<tr style="height:100%">
				<td id="show"></td>
			</tr>
		</table>
	</div>
</div>
<script>
function show(id){
  if($("#job-"+id).hasClass("lit")){
  	$("tr.hover").switchClass('lit','',150);
  	$("#show").empty();
  }
  else {
  	$("tr.hover").switchClass('lit','',150);
  	$("#job-"+id).switchClass('','lit',150);
  	$("#show").load("/jobs/"+id+"/invoices");
  }
}

$(".hover").hover(function () {
	if (!$(this).hasClass('animated')) {
		if(!$(this).hasClass('lit')){
			$(this).dequeue().stop().switchClass('','highlight',150);
		}
	}
},
	function () {
		$(this).addClass('animated').switchClass('highlight','',150, function() {
			$(this).removeClass('animated').dequeue();
		});
});
$(document).ready(function() {
	var tableData = $("#info-data tr:first").children();
	var tdataArray = $.makeArray(tableData);
	var tableHeader = $("#info-header tr:first").children();
	var theaderArray = $.makeArray(tableHeader);
	
	for(var i=0;i<tdataArray.length-2;i++){
		$(theaderArray[i]).width($(tdataArray[i]).width());
	}
	$(theaderArray[tdataArray.length-1]).width($(tdataArray[tdataArray.length-1]).width());
	
	if(getQueryStr("job") != undefined){
		show(parseInt(getQueryStr("job")));
	}
});
</script>
